#ui-dialog-body.yascmanager {
  padding: 0;
}

#ui-dialog-body.yascmanager > div > :not(:first-child) {
  border-top: 1px solid #444;
}

#ui-dialog-body.yascmanager > div > h2 {
  background-color: #222;
  font-size: inherit;
  margin: 0;
  padding: .1em 0 .1em .4em;
}

#ui-dialog-body.yascmanager table {
  border-spacing: 0;
  width: 100%;
}

#ui-dialog-body.yascmanager td {
  padding: .33em;
}

#ui-dialog-body.yascmanager td:nth-child(2) {
  line-height: 1.2;
  width: 100%;
}

#ui-dialog-body.yascmanager .subtitle {
  font-size: 75%;
  color: #999;
}

#ui-dialog-body.yascmanager td:last-child {
  text-align: right;
}

#ui-dialog-body.yascmanager #mods-list button {
  color: #eee;
  background-color: transparent;
  border: 1px solid #444;
  height: 2.237em;
  width: 2.237em;
}

#ui-dialog-body.yascmanager #mods-list button:not(:disabled):hover {
  background-color: #222;
  border-color: #ddd;
}

#ui-dialog-body.yascmanager #mods-list button:disabled {
  color: #444;
  border-color: #444;
}

#ui-dialog-body.yascmanager #mods-list button.enabled:not(:disabled) {
  background-color: #161;
  border-color: #383;
}

#ui-dialog-body.yascmanager #mods-list button.enabled:not(:disabled):hover {
  background-color: #383;
  border-color: #5a5;
}

#ui-dialog-body.yascmanager #mods-list button.delete:not(:disabled) {
  background-color: #911;
  border-color: #b33;
}

#ui-dialog-body.yascmanager #mods-list button.delete:not(:disabled):hover {
  background-color: #b33;
  border-color: #d55;
}

#ui-dialog-body.yascmanager #mods-list button::before,
#ui-dialog-body.yascmanager .buttons button::before {
  font-family: sc-icons !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  speak-as: never;
  text-rendering: auto;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#ui-dialog-body.yascmanager button.enabled::before {
  content: '\f04b';
}

#ui-dialog-body.yascmanager button.disabled::before {
  content: '\f04c';
}

#ui-dialog-body.yascmanager button.delete::before {
  content: '\f2ed';
}

#ui-dialog-body.yascmanager button.delete:disabled::before {
  content: '\f1f8';
}

#ui-dialog-body.yascmanager span.hr {
  margin: 0 0.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#ui-dialog-body.yascmanager ul#platform-info {
  margin: 0;
}
